
<footer class="bg-light text-center text-lg-start bg-dark text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Developers Information</h5>

        <p>
          Gideon Zozingoa
        </p>
        <p>
          PHONE: +675 74865430
        </p>
        <p>
          EMAIL:gideonzozingao@switchmeven.com
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">TECH SKILLS</h5>

        <ul class="list-unstyled mb-0">
          <li>
            Front end development (HTML+CSS+JavaScript)
          </li>
          <li>
            Back End Develpment (PHP+Node.js)
          </li>

          <li>
            Database Knowlege (MySQL+MariaDb+SQLite+PpostgreSQL+MogoDb)
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">SOFT SKILLS</h5>

        <ul class="list-unstyled">
          <li>
            Team Work
          </li>
          <li>
            Leadership
          </li>
          <li>
            Communication
          </li>
          <li>
            Problem Solving
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">Pacifica Prime
    © 2021 Copyright:
    <a class="text-dark" href="https://www.switchmaven.com/">Switch maven</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
