<nav class ="navbar navbar-expand-xl navbar-dark bg-primary fixed-top">
    <a href="/" class="navbar-brand">Tweeting Application</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-nav">
            <a href="/" class="nav-item nav-link active"><i class="fa fa-home"></i>Home</a>
            <a href="/about" class="nav-item nav-link">About</a>

        </div>
        <form class="form-inline">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="searchQ">
                <div class="input-group-append">
                    <button type="button" class="btn btn-secondary"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>

          <div class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle text-white" data-toggle="dropdown">Accout</a>
              <div class="dropdown-menu">
                  <a href="/user-login" class="dropdown-item">Login</a>
                  <a href="/register" class="dropdown-item">Register</a>
                  <a href="#" class="dropdown-item">Drafts</a>
              </div>
          </div>

    </div>
</nav>
