<nav class ="navbar navbar-expand-xl navbar-dark  fixed-top" style="background-color: rgba(0, 109, 255, 0.81);">
  <div class="container">
    <a href="/" class="navbar-brand"><i class="logo"><img src="images/favicon-32x32.png" alt=""></i> Onzaec Twits</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-nav">
            <a href="/about" class="nav-item nav-link" target="_blank">About</a>
            <a href="/users" class="nav-item nav-link">People</a>

            <a href="/twits" class="nav-item nav-link"><i class="fa fa-eye"></i> Twits</a>
            <a href="#" class="nav-item nav-link " id="addTwits"><i class="fa fa-plus"></i>Add A Twit</a>
        </div>

        <form class="form-inline" action="/search" method="get">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="searchQ">
                <div class="input-group-append">
                    <button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
        <div class="dropdown">
            <a href="#" class="nav-link dropdown-toggle text-white" data-toggle="dropdown"><b><%=user.user_name%></b> <i class="fa fa-user"></i></a>
            <div class="dropdown-menu">
                <a href="#profile" class="dropdown-item">Profile</a>
                <a href="/logout" class="dropdown-item">Logout</a>
            </div>
        </div>
    </div>
  </div>

</nav>
