
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 3;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(52, 73, 94, 0.4);
}
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.user-thumnails{
  height: 500px;
  overflow-y: scroll;
  padding: 3px;
}
/*
Customizing the Scrollar for the thumnails
*/

.user-thumnails::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}



.user-thumnails::-webkit-scrollbar-track {
  width: 8px;
  background: #f1f1f1;


}

.side-toggles{
  position: fixed;
  left: 0;
  top: 1;
  width: 50px;
  background-color: black;
  box-shadow: 1px 3px 14px 12px rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 50px;

  z-index: 2;
}

#close-side:hover,#open-side:hover{
cursor: pointer;
color: blue;
}
.user-thumnails::-webkit-scrollbar-thumb {
  background-color: rgba(0, 109, 255, 0.81);

  width: 8px;
  border-radius: 5px;
}

/* Handle on hover */
.user-thumnails::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
}
.row-1{
  display: flex;
  flex-direction: row;

}
.user-thumb{
  display: block;
 width: 100%;
}
.user-thumnails{
  width: 100%;
  display: flex;
  flex-direction: column;

}

#close-side{
  display: none;
}

.active-user-profile{
   display: block ;
}
@media screen  and (max-width: 760px){
  #users-page-view{
  display: flex !important;
  flex-direction: column !important;
  }
  .side-toggles{
    left: 0;
    display: block !important;
  }
  .user-thumnails{
    box-shadow: 1px 3px 14px 12px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 2;
    width: 45%;
    left: 0;
    z-index: 1;
    display: none;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
  }
.user-thumb{
width: 100%;
}
  .row-1{
    display: flex;
    flex-direction: column !important;

  }

  .active-user-profile{
    position: fixed;
    left: 0;
    display: none;
    z-index: 1;
    background-color: grey;
    height: 100%;
    color: white;
    width: 50%;
    top: 0.1;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
  }
   }
