<title>Onzaec Twits>>Add Twits</title>
</head>
<body>

  <div class = "jumbotron">
         <h3 class="text-center">Add a Twits Now</h3>
         <p class="text-center">Type your Username and Password and Twit Message</p>
    </div>
    <div class="container">
      <div class="card">
        <div class="card-header">
<h5 class="text-center text-primary">Twit Now</h5>
        </div>
        <div class="card-body">
          <form class="" action="/add-twit" method="post">
              <div class="card container">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" name="username" class="form-control form-control-lg" placeholder="Username">
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" name="password" class="form-control form-control-lg" placeholder="Password">
                </div>
              </div>
              <div class="card container">
                <div class="form-goup">
                  <label for="twit">Twit Content</label>
                  <textarea name="twit" rows="7" cols="80" class="form-control"></textarea>
                </div>
              </div>
              <div class="col-lg-6 login-btm login-button">
                  <button type="submit" class="btn btn-outline-primary">Twit Now</button>
              </div>
          </form>
        </div>
      </div>
    </div>
