<title>Onzaec Twits>>Add Twits</title>
</head>
<body>
  <%-include("../nav")%>
  <div class = "jumbotron">
         <h1 class="text-center">Add a Twits Now</h1>
         <p class="text-center">Login with your Registered Username and Password</p>
    </div>
<%-include("../footer")%>
