<p class="text-primary h5 text-center">Twit Now</p>
          <form class="" action="/add-twit" method="post" id="addTwit">
                <div class="form-goup">
                  <textarea name="twit" rows="7" cols="80" class="form-control"></textarea>
              </div>
              <div class="col-lg-6 login-btm login-button">
                  <button type="submit" class="btn btn-outline-primary ">Twit Now</button>
              </div>
          </form>
