
<h1></h1>
<h1></h1>

    <div class="container">

          <h3 class="text-center text-primary">Edit</h3>

        <div class="card-body">
          <form class="" action="/editTwit" method="post" id="addTwit">
                <div class="form-goup">
                  <input type="hidden" name="twitId" value="<%=twitData.twitId%>">
                  <textarea name="twit" rows="7" cols="80" class="form-control"><%=twitData.twits%></textarea>
              </div>
              <div class="col-lg-6 login-btm login-button">
                  <button type="submit" class="btn btn-outline-primary btn-block btn-lg">Save</button>
              </div>
          </form>
        </div>
      </div>

<script type="text/javascript">

</script>
