<title>Error>><%=errorr%></title>
</head>
<body>


<div class="container">
  <div class="jumbotron">
         <h1 class="text-center text-danger"><%=errorr%> Error</h1>
         <p class="text-center text-muted"><%=err_msg%></p>

      </div>
</div>
