<title>Onzaec Twits>> Home</title>
</head>
<body>


    <div class = "jumbotron">
           <h1 class="text-center">Onzaec Tweets</h1>
           <p class="text-center">Sign up now and Tweet.. tweet.. tweet..</p>
           <p class="text-center">
              <a class = "btn btn-primary btn-lg" role = "button" href="/register">Signup</a>
           </p>
  </div>
<div class="container">
<h1 class="text-muted">WELCOME</h1>
<h3 class="text-sm">
  This is tweeting Application with Express EJS and Sequlize
</h3>
</div>
