<title>Onzaec Twits>> Home</title>
</head>
<body>


    <div class = "jumbotron">
           <h1 class="text-center">Onzaec Twits</h1>
           <p  class="text-center">A Place where People Share there thoughts<br> <i class="h5">Anyhow! Anywhere! Everywhere!</i></p>

  </div>
<div class="container">
<div class="row">
  <div class="col-md-4">
    <% if(!twitors){
      %>Be the first One to twit and Share
    <%}else{%>
      <h5 class=" text-info"><%=twitors%> People are twitting today</h5>
      <p>Join them  now and Twit.. Twit.. Twit..</p>
      <p class="">
         <a class = "btn btn-primary btn-lg" role = "button" href="/register">Signup</a>
      </p>
    <%}%>
  </div>
  <div class="col-md-8">
    <div class="card">
      <h1 class="text-center">Hellow world2</h1>
    </div>

  </div>

</div>
</div>
