<title>Onzaec Twits>> Home</title>
</head>
<body>


    <div class = "jumbotron">
           <h1 class="text-center">Onzaec Twits</h1>
           <p  class="text-center">Connect <%=twitors%> active Twitors now and see what they are syaing</p>
           <p class="text-center">
              <a class = "btn btn-primary btn-lg" role = "button" href="/register">Signup</a>
           </p>
  </div>
<div class="container">
<h1 class="text-muted">WELCOME</h1>
<h3 class="text-sm">
  This is a twiting Application build with Express JS and Sequelize
</h3>
</div>
