<title>Onzaec Twits>> Twits</title>
</head>
<body>


    <div class = "jumbotron">
           <h1 class="text-center">Onzaec Twits</h1>
           <p class="text-center">Details for Twit</p>
           <p class="text-center">

           </p>
  </div>
<div class="container">
<p class="">
  <%=twit.twits%>  <i><%=twit.createdAt%> </i>
</p>

</div>
