<title>Onzaec Twits>> Twits</title>
</head>
<body>


    <div class = "jumbotron">
           <h1 class="text-center">Onzaec Tweets</h1>
           <p class="text-center">People are having fun Twiting here and there</p>
           <p class="text-center">
              <a class = "btn btn-primary btn-lg" role = "button" href="/add-twit">Twit Something Now</a>
           </p>
  </div>
<div class="container">
  <%
  if(data){
    for(let i of data){%>
        <p><%=i.twits%><a href="/twit/id=<%=i.twitId%>"><i class="fa fa-eye"></i></a></p>
    <%}
  }else{%>
    <h4 class="text-muted text-center">No Twits Avalable Today</h4>
    <p class="text-center">Be the first one to Twit now</p>
  <%}

  %>

</div>
