
<title>Onzaec Twits>><%=user_data.username%> </title>
</head>
<body>
  <%-include("../navAuth")%>
    <div class = "jumbotron">
           <h1 class="text-center"><%=user_data.username%></h1>
  </div>
  <div class="container">
  </div>
<%-include("../footer")%>
<script type="text/javascript" src="./js/user.js">
</script>
